# patches
cairo-win32.patch
libxml.patch
vs2013.patch

# directories
_prerequisites
boost*
cairo*
freetype*
gdal*
geos*
icu*
jpeg*
libpng*
libxml2*
pixman*
postgresql*
proj*
protobuf*
sqlite*
tiff*
webp*
zlib*